<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

  <nav>
    <div class="container_nav">
        <div class="nav">
            <ul class="ul-nav">
                <a href="/"><img class="logo" src="/img/TEKI 1 PNG PRETO.png"></a>
                <li class="lista-nav"><a href="/">Início</a></li>
                <li class="lista-nav"><a href="/noticias">Notícias</a></li>
                <li class="lista-nav"><a href="/filtrar">Filtrar</a></li>
                <div class="nav-block"><a href="http://www.fapemig.br/pt/" target="_blank"><img class="logo_inst" src="/img/fapemig_2.png"></a></div>
                <div class="nav-block"><a href="https://www.divinopolis.cefetmg.br/" target="_blank"><img class="logo_inst" src="/img/Cefet.png"></a></div>
                <div class="nav-block"><a href="https://www.ufsj.edu.br/cco/" target="_blank"><img class="logo_inst" src="/img/UFSJ.png"></a></div>
            </ul>
        </div>
    </div>
    <div class="linha"></div>
   </nav>
<body>
    {{{body}}}
</body>
<footer>
    <div class="linha"></div>
    <div class="container_nav">
        <div class="rodape">
            <ul class="ul-footer">
                <li class="lista-nav">Também aqui:</li>
            </ul>
            <div class="container_redes">
                <div class="instagram">
                    <a href="https://instagram.com/tekisaude?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><img class="logo_insta" src="/img/instagram_pngwing.png"></a>
                    <p>Teki_Saude</p>
                </div>
                <div class="youtube">
                    <a href="https://www.youtube.com/channel/UCrDYQT0nedMwBUnz05Tfxew" target="_blank"><img class="logo_insta" src="/img/youtube_freepic.png"></a>
                    <p>Teki_Saude</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>