<div class="agrad_container">
    <div class="agrad_cnt">
        <p class="agrad_title">Agradecimentos</p>
        <p class="agrad_sub">Nós da equipe TekiSaude destinamos esta página para agradecermos ao apoio das instituições de ensino responsáveis por financiar o projeto (CEFET,FAPEMIG E UFSJ), bem como nossos professores orientadores Alberto e Roberta.</p>
        <p class="agrad_sub">Além disso, a criação do site só foi possível devido ao apoio das imagens de portais como o bing AI image generator(https://www.bing.com/images/create).</p>
        <p class="agrad_sub">Atenciosamente, Luca e Geovana.</p>
        <div class="img_cntrl">
        <img class="img_aut" src="/img/geovana_site2.jpeg">
        <img class="img_aut" src="/img/luca_site.jpeg">
        </div>
    </div>
</div>