<div class="home_container">
    <div class="home_not">
        <div class="home_img">
            <img class="main_img_home" src="/img/medicos-op-1.png">
        </div>
        <div class="home_text">
            <p class="home_header">Tenha acesso ao melhor conteúdo</p>
            <p class="home_description">Acesse agora gratuitamente:</p>
            <a href="/noticias"><button class="home_btn">Notícias</button></a>
        </div>
    </div>
</div>
<div class="home_container2">
    <div class="mini_linha"></div>
    <div class="home_about">
        <div class="home_expl">
            <p class="about">Sobre o projeto</p>
            <p class="about_title" >Bem-vindo ao projeto de alfabetização científica para jovens!</p>
            <p class="about_desc">O projeto teens-saúde foi idealizado pela professora da Universidade Federal de São João del Rei Roberta Figueiredo, com a parceria do professor Alberto Pena Lara e 3 alunos do CEFET-MG.</p>
            <a href="/agradecimentos"><button class="home_btn">Agradecimentos</button></a>
        </div>
        <div class="home_img2">
            <img class="second_img_home" src="/img/hospital.png">
        </div>
    </div>
</div>
<div class="home_container3">
    <div class="mini_linha"> </div>
        <div class="home_comment">
            <div class="home_cmnt_text">
                <p class="home_header2">Entre em contato conosco!</p>
                <p class="about_desc">É rápido e fácil! Envie um email para tekisaude@gmail.com ou clique nos botões abaixo. Você será redirecionado para a página do gmail ou outlook.</p>
                <div class="btn_emails">
                <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCKCHVNFPGgrRDsDZQCpzFQFCnGBjfmXfpzKjQgRlVmRNMZZmKZdGHxdpHFxFJWzkKbvKSwL" target="_blank"><button class="btn_gmail"><img class="gmail" src="/img/gmail_vecteezy.webp"></button></a>
                <a href="https://outlook.live.com/mail/0/compose/AQMkADAwATNiZmYAZC00YjVkLTUwMjMtMDACLTAwCgBGAAADQVsApBKLI0eye7QIoBY03wcA2IO7uLZXmUKqFSiYkLX9gwAAAgEPAAAA2IO7uLZXmUKqFSiYkLX9gwABeBumcgAAAA%3D%3D?to=tekisaude@gmail.com" target="_blank"><button class="btn_outlook"><img class="outlook" src="/img/outlook_wikipedia.png"></button></a>
                </div>
            </div>
            <div class="home_img3">
                <img class="third_img_home" src="/img/menino-dúvida.png">
            </div>
        </div>
</div>