<div class="mat_container">
    <div class="mat_cnt">
        <div class="mat_cabecalho">
            <p class="mat_title">O que é o HPV?</p>
            <p class="mat_subtitle">O HPV é um vírus que infecta pele ou mucosas provocando verrugas anogenitais e câncer, a depender do tipo de vírus.</p>
            <p class="mat_autores">Por: Luca Henrique Tavares e Geovana de Oliveira Ferreira</p>
            <p class="mat_data">Editado no dia: 28/08/2023</p>
        </div>
        <div class="mat_pic">
            <div class="mat_back">
                <img class="mat_img" src="/img/hpv_freepic.png">
            </div>
            <p class="mat_corpo">De acordo com o Ministério da Saúde, o HPV é uma infecção sexualmente transmissível (IST) causada pelo papilomavírus humano que, pode afetar mulheres e homens e não causar sintomas no início da doença. No entanto, em alguns casos, essa infecção pode provocar o surgimento de verrugas na região genital, ânus, boca ou garganta (regiões anogenitais). </p>
        </div>
        <div class="mat_cont">
            <p class="mat_corpo">O HPV é transmitido principalmente através das relações sexuais desprotegidas, com ou sem penetração, e, por isso, é considerado uma infecção sexualmente transmissível, bem como é possível contrair a doença sem manifestar qualquer sintoma. Além disso, apesar de ser menos comum, essa infecção também pode ser transmitida da mãe para o bebê durante o parto.</p>
            <p class="mat_corpo">É importante que a infecção pelo HPV seja diagnosticada pelo clínico geral, ginecologista ou urologista para iniciar o tratamento logo em seguida, que normalmente é feito com pomadas,cremes e procedimentos para remover as verrugas.</p>
            <p class="mat_corpo">De acordo com o Hospital do Coração, 54,6% dos jovens brasileiros entre 16 e 25 anos estão infectados com o HPV, um dado altamente preocupante visto que o HPV não tem cura, apenas os procedimentos de tratamento dos sintomas ou ainda, a prevenção. É interessante ressaltar que 38,4% dos casos de HPV apresentam um dos tipos mais perigosos, e ainda, apenas 5% dos contaminados costumam sofrer efeitos da ação do vírus.</p>
            <p class="mat_corpo">Portanto, é interessante lembrar da importância da vacinação na vida dos jovens, que previne de forma segura. A vacina tem uma partícula semelhante ao vírus, assim, ela “engana” o sistema imunológico. Ele acredita que é o vírus da HPV e começa a desenvolver anticorpos para combater a infecção. </p>
        </div>
    </div>
</div>
<div class="mat_container2">
    <div class="mini_linha"></div>
    <p class="mat_img_title">Imagens:</p>
    <div class="mat_cnt2">
        <div class="card1">
            <img class="mat_card_img" src="/img/hpv_ministeriodasaude.jpg">
            <div class="mat_card_txt">
                <p class="mat_card_txt_title">Verrugas do HPV</p>
                <p class="mat_card_txt_desc">O hpv se manifesta por meio de verrugas ao redor da pele como a foto acima do minis-tério da saúde.</p>
                <a target="_blank" href="https://www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/h/hpv"><button class="mat_card_txt_btn">Acesse</button></a>
            </div>
            <p class="mat_font">Fonte: Ministério da Saúde</p>
        </div>
         <div class="card1">
            <img class="mat_card_img" src="/img/hpv_minhavida.webp">
            <div class="mat_card_txt">
                <p class="mat_card_txt_title">Verrugas do HPV</p>
                <p class="mat_card_txt_desc">O hpv se manifesta por meio de verrugas ao redor da pele como a foto acima do portal minha vida.</p>
                <a target="_blank" href="https://www.minhavida.com.br/saude/temas/hpv#:~:text=O%20principal%20sinal%20de%20infec%C3%A7%C3%A3o,aparecendo%20apenas%20em%20exames%20m%C3%A9dicos."><button class="mat_card_txt_btn">Acesse</button></a>
            </div>
            <p class="mat_font">Fonte: Minha vida</p>
        </div>
        <div class="card_2">
            <img class="mat_infografico" src="/img/hpv_hcor.png">
             <p class="mat_font">Fonte: HCOR</p>
        </div>
    </div>
</div>
<div class="mat_container3">
    <div class="mini_linha"></div>
    <div class="mat_cnt3">
        <p class="mat_img_title">Referências:</p>
        <p class="mat_ref_txt">1.https://www.paho.org/pt/topicos/hpv-e-cancer-do-colo-do-utero</p>
        <p class="mat_ref_txt">2.https://bvsms.saude.gov.br/oms-lanca-novas-diretrizes-sobre-prevencao-e-tratamento-do-cancer-cervical/</p>
        <p class="mat_ref_txt">3.https://www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/h/hpv</p>
        <p class="mat_ref_txt">4.https://www.cnnbrasil.com.br/saude/oms-recomenda-dose-unica-contra-o-hpv-e-alerta-para-baixas-coberturas-vacinais/</p>
    </div>
</div>
