<div class="resultado_container">
    <div class="resultado_cnt">
        <div class="resultado_pesq">
            <img class="resultado_img" src="/img/atualizar.png">
            <p class="resultado_txt">Insira a variável aqui</p>
        </div>
        <p class="resultado_rs">Resultados:</p>
        <!-- Coloque aqui as notícias -->
    </div>
</div>